@model List<Domain.Models.CategoryModel>

<div id="ContentDiv" class="row justify-content-center align-items-center">
    <h1 class="col-6 text-center">Add new Category</h1>
    <div class="col-8 row justify-content-center align-items-center">
        <input class="form-control" type="text" placeholder="Category name" id="categoryName" />
        <input class="btn btn-primary col-md-4 mt-2" type="button" onclick="AddCategory()" value="Add new category" />
    </div>
</div>
<div class="row justify-content-center align-items-center">
    <h2 class="col-8 text-center mt-5">Categories list:</h2>
    <div class="col-8 text-center">
        @if (Model != null)
        {
            <div>
                @foreach (var category in Model)
                {
                    <h4>@category.CategoryName</h4>
                }
            </div>
        }
    </div>
</div>


@section scripts{ 
    <script>
        function AddCategory() {
            let CategoryName = document.getElementById("categoryName").value;
            $.ajax({
                method: "POST",
                url: "AddCategory",
                data: { CategoryName },
                succsess: function () { alert('Characteristic added') },
                error: function (res) { console.log(res) }
            });
        }
    </script>
}
