@model List<Domain.Models.CategoryModel>

<div class="row justify-content-center align-items-center">
    @using (Html.BeginForm("GetAllProducts", "Product", FormMethod.Post)) { 
    <select name="CategoryId">
        @foreach (var category in Model)
        {
            <option name="CategoryId" value=@category.Id>@category.CategoryName</option>
        }
    </select>
    <input class="btn btn-primary" value="Show Products" type="submit"/>
    }
</div>